<section class="centered">
  <h1 style="font-size: 4rem;">404 <br> Are You Lost? <br> Page Not Found </h1>
  <a class="navbtn btn btn-warning btn-lg mx-auto" href="/dashboard" role="button">Back To Dashboard</a>
</section>